.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.bgimg{
  background-image: url("https://media.discordapp.net/attachments/791435972683890729/1496999128926785788/imagen.png?ex=69f5cfd5&is=69f47e55&hm=7d6219f9955b5ba477d9106b6fc73730ceb345e5944a9c0ba40f5cc06644416c&=&format=webp&quality=lossless&width=1375&height=773");
  background-size:cover;
  background-position: center;
  height: 25rem;
  filter: saturate(0%);
  display: flex;
  justify-content: center;
  align-content: center;
}