.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.bgimg{
  background-image: url("https://media.discordapp.net/attachments/791435972683890729/1500326752591806484/imagen.png?ex=69fa01ec&is=69f8b06c&hm=21bcda7bcd076a2923ccbda04f113b0aaff6ccc739656ec34dcd3d6c26768b29&=&format=webp&quality=lossless&width=524&height=293");
  background-size:cover;
  background-position: center;
  height: 25rem;
  filter: saturate(0%);
  display: flex;
  justify-content: center;
  align-content: center;
}