.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.bgimg{
  background-size:cover;
  background-position: center;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-content: center;
}



.loginbg{
  position: relative;
}

.loginbg::before{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;          
  z-index: -1;

  background-image: url("assets/donaciones-ong.jpg");
  background-size:cover;
  background-position: center;

  filter: saturate(50%) blur(8px);


}

.shadow{
  box-shadow:"2px 8px 8px #0009";
}

.donationbox{
  position:fixed;
  left: 12.5%;
  top: 12.5%;
  width: 75%;
  height: 75%;
}